<div class="panel panel-default panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Deposit Ether</h3>
  </div>
  <div class="panel-body">

    <form>
      <div class="form-group">
        <label for="inputAmountDepositEther">Amount in Ether</label>
        <input type="number" name="inputAmountDepositEther" [(ngModel)]="amount" class="form-control" id="inputAmountDepositEther" placeholder="e.g., 95">
      </div>

    </form>
  </div>
  <div class="panel-footer">
    <button type="button" class="btn btn-default" (click)="depositEth()">Deposit Ether
    </button>
  </div>
</div>