<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">
                    Exchange Overview
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"[routerLink]="['/trading']">
                    Fixed Token Trading
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/managetoken']">
                        Managetoken
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <router-outlet></router-outlet>
        <div class="col-lg-4" style="background-color: #eee; min-height: 100vh;">
            <app-events>
            </app-events>
            <app-assets>
            </app-assets>
        </div>
    </div>
</div>