<h1>Distributed Token Exchange</h1>
<h3>You have <span class="black"><span id="balanceTokenInExchange"></span> {{exchangeService.balanceTokenInExchange | async}}</span> in the
    exchange</h3>
<h3>You have <span class="black"><span id="balanceEtherInExchange"></span>  {{exchangeService.balanceEtherInExchange | async}}</span> in the exchange</h3>

<hr />
<h3>Deposit</h3>
<div class="row">
  <div class="col-lg-6">
    <app-deposit-token></app-deposit-token>
  </div>
  <div class="col-lg-6">
    <app-deposit-eth></app-deposit-eth>
  </div>
</div>
<hr />
<h3>Withdrawal</h3>
<div class="row">
  <div class="col-lg-6">
    <app-withdraw-token></app-withdraw-token>
  </div>
  <div class="col-lg-6">
    <app-withdraw-eth></app-withdraw-eth>
  </div>
</div>